<div class="fondo">
  <form class="formAgregar">
    <div class="logoForm">
      <img src="/assets/Images/logoLarge1.png" alt="logoLarge1">
      </div>
    <h3>Agregar proyecto</h3>
    <div class="mb-3">
      <label class="form-label">Nuevo Proyecto</label>
      <input type="text" class="form-control" id="destacado" name="destacado" [(ngModel)]="nuevoPro.destacado">
    </div>
    <div class="mb-3">
      <label class="form-label">Título</label>
      <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="nuevoPro.titulo">
    </div>
    <div class="mb-3">
      <label class="form-label">Texto</label>
      <input type="text" class="form-control" id="texto" name="texto" [(ngModel)]="nuevoPro.texto">
    </div>
    <div class="buttons"><button class="btn btn-primary" (click)="agregarPro()"
        routerLink="proyectos">Agregar</button><button class=" btn btn-warning" routerLink="mi-cuenta">Regresar</button>
    </div>
  </form>
</div>