
  <h2>Contácto</h2>
  <div class="cont">
      <div class="mb-3" id="form">
        <form action="mailto:asf.webdevelop@gmail.com">
          <div class="mb-3" id="contactForm">
            <input class="form-control" aria-label="First name" type="text" name="Nombre" size="30" maxlength="100"
              placeholder="Nombre y apellido" required><br>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" name="Email"
              size="30" maxlength="100" required><br>
            <div class="mb-3">
              <textarea cols="58" rows="7" name="comentarios" id="exampleTextarea1" rows="3" required></textarea><br>
            </div>
            <div id="buttons">
              <button input type="reset" value="Borrar todo" class="btn btn-danger">Borrar</button>
              <button input type="submit" value="Enviar" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

