.container {
    background-image: url(/assets/Images/portrait-3113651_1920.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.AM {
    float: right;
    padding: 2% 5% 5% 5%;
    color: white;
    text-align: justify;
}

.btn-primary {
    margin: 20px;
}

.ancho {
    float: right;
}

.sm {
    padding-bottom: 30px;
    color: black;
}

#parrafo {
    background-color: rgba(240, 255, 255, 0.917);
    padding: 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 10px;
    text-indent: 10px;
    text-align: justify;
}

#parrafo:first-letter {
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (min-widht: 800px) {
    .AM {
        width: 100%;
        padding: 10px;
        text-align: center
    }

    /* .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-height: 100vh;
    } */

}