.container{
   background-image: url(/assets/Images/Frost.jpg);
} 

.AM{
width: 35%;
margin-left: 50%;
padding: 5% 5% 10% 5%;
height: 55vh;
color: white;
}

.btn-primary{
    margin: 20px;
}

@media screen and (max-width: 800px) {

    .AM{
        width: 100%;
        margin: 0 auto;
        height: 100vh;
        padding: 8px;
        margin: 0 auto;
        text-align: center;
    }
       
}