.container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.AM{
    background-color: azure;
    padding: 30px; 
    text-align:center ;
   
}

.btn-primary{
    margin: 20px;
}

.fijo{
width: 180px;
}