<a name="Proyectos"></a>
<div class="container">
 <h2>Proyectos</h2>
 <div class="cont">
<div class="tarjeta" *ngFor="let proyecto of lista">
<div class="card">
    <div class="card-header">
      {{proyecto.destacado}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{proyecto.titulo}}</h5>
      <p class="card-text">{{proyecto.texto}}
  </div>
<!-- <button class="fijo" routerLink="banner">Regresar</button> -->

</div>
<div *ngIf="mostrar== true">
<button class="hidden" [routerLink]="['/edit-project', proyecto.id]"><i class="bi bi-pencil-square"></i></button>
<button class="hidden" (click)="eliminar(proyecto.id)"><i class="bi bi-trash"></i></button>
</div>
</div>
<div *ngIf="mostrar== true">
<button class="btn btn-primary" [routerLink]="['/agregar-pro']">Agregar proyecto</button> 
</div>
</div> 