<div class="container">
  <h2>Formación</h2>
  <div class="cont">
    <div class="tarjeta" *ngFor="let formacion of lista">
      <div class="card">
        <div class="card-header">
          <!-- {{formacion.imagen}}  -->
          <img src="/assets/Images/formacion.png" alt="formacion" style="width: 70px; height: 70px;">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{formacion.titulo}}</h5>
          <p class="card-text">{{formacion.descripcion}}
        </div>
      </div>
      <br>
      <div *ngIf="mostrar == true" class="btnEdiciones">
        <a (click)="eliminar(formacion.id)"><img class="icon" src="/assets/Images/trash.png"></a>
        <a [routerLink]="['/edit-form', formacion.id]"><img class="icon" src="/assets/Images/pencil.png" alt="edit"></a>
      </div>
    </div>

    </div>
    <div class="formato">
      <div class="bAgregar">
        <div *ngIf="mostrar==true">
          <a class="btnAgregar" [routerLink]="['/agregar-form']"><img src="/assets/Images/agregar.png" alt="agregar"></a>
        </div>
      </div>
    </div>
  </div>
<app-btn-fixed></app-btn-fixed> 