<div class="container">
<h2>Formacion</h2>
<div class="card" style="width: 18rem;">
    <img [src]="" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Un texto de ejemplo rápido para colocar cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
    </div>
  </div>
<button class="fijo" routerLink="banner">Regresar</button>

  <div class="Ed" *ngIf="mostrar==false" >
  <app-edit>[titulo]="titulo"</app-edit>
</div>
  <button class="btn btn-danger" (click)="mostrarInput()">Editar</button>
</div>