<div class="fondo">
  <form class="formAgregar">
    <div class="logoForm">
      <img src="/assets/Images/logoLarge1.png" alt="logoLarge1">
      </div>
    <h3>Agregar formación</h3>
    <div class="mb-3">
      <div class="mb-3">
        <label class="form-label">Imagen</label>
        <input type="text" maxlength="35" class="form-control" id="imagen" name="imagen" [(ngModel)]="nuevaForm.imagen">
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Título</label>
      <input maxlength="35" type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="nuevaForm.titulo">
    </div>
    <div class="mb-3">
      <label class="form-label">Descripción</label>
      <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="nuevaForm.descripcion">
    </div>
    <div class="buttons">
      <button class="btn btn-primary" (click)="agregarForm()" routerLink="skills">Agregar</button>
      <button class=" btn btn-warning" routerLink="mi-cuenta">Regresar</button>
    </div>
  </form>
</div>