 .container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 70vh;
    background-image: url(/assets/Images/Deep\ Sea\ Space.jpg);
} 

h2{
    width: 100%;
}

.regForm{
width: 35%;
margin-left: 50%;
margin-top: 1%;
background-color: whitesmoke;
padding: 6% 5% 3% 5%;
height: 70vh;
color: black;
}

#floatingInput{
    margin-bottom: 10%;
}

.crear{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 225);
    width: 35%;
    height:55%;
    padding: 1% 20px 0px 20px;
    margin-left: 50%;
}

.quest,
.nav-item {
    font-size: smaller;
    color: black !important;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
}


.small{
    font-size: x-small;
    text-align: center;
}

.ancho{
    width: 80%;
    margin-left: 10%;
 }

 .form-text{
    font-size: x-small;
 }


@media screen and (max-width: 800px) {

    .container{
        height: 70vh;
        flex-direction: column;
        padding-top: 60px;
    } 

    .regForm{
        width: 80%;
        margin: 0 auto;
        height: 70vh;
    }
       
    .crear{
        width:80%;
        height: 50%;
        padding: 8px;
        margin: 0 auto;
    } 
} 