<div class="cont" style="display: flex; flex-direction: column;">
  <div class="regForm">
    <form (ngSubmit)="registro()">
      <div class="mb-3">
        <label for="exampleInputEmail" class="form-label">Correo electrónico *</label>
        <input required type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          name="email" [(ngModel)]="datosRegistrados.email">
        <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword5" class="form-label">Contraseña *</label>
        <input required type="password" class="form-control" id="exampleInputPassword3" name="password"
          [(ngModel)]="datosRegistrados.password">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword" class="form-label">Repita su contraseña *</label>
        <input required type="password" class="form-control" id="exampleInputPassword4" name="confirmPassword"
          [(ngModel)]="confirmPassword">
      </div>
      <button type="submit" class="btn btn-success" style=" width: 100%; margin-top: 20px;">Registrarme</button>
      <button class="btn btn-danger" routerLink="banner" style=" width: 100%; margin-top: 5px;">Inicio</button>
      <p class="small" style="padding-top: 10px;">¿Olvidó su usuario y/o contraseña?</p>
    </form>
  </div>
  <div class="crear">
    <div class="quest">¿Ya tienes una cuenta?</div>
    <a style="color: black; margin: 0 auto; cursor: pointer;"><app-modal ngbPopover="Ingresar"
        popoverClass="my-edit-class"></app-modal></a>
    <div class="nav-item" id="aLog">
      <p class="small">Al iniciar sesión acepta nuestros términos de uso.</p>
    </div>
  </div>
</div>