<div class="container">
  <form class="formEdit">
    <div class="logoForm">
    <img src="/assets/Images/logoLarge1.png" alt="logoLarge1">
    </div>
    <div class="mb-3">
      <label class="form-label">Nuevo Proyecto *</label>
      <input type="text" class="form-control" id="destacado" name="destacado" [(ngModel)]="proyectoActual.destacado">
    </div>
    <div class="mb-3">
      <label class="form-label">Título *</label>
      <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="proyectoActual.titulo">
    </div>
    <div class="mb-3">
      <label class="form-label">Descripción *</label>
      <input type="text" class="form-control" id="texto" name="texto" [(ngModel)]="proyectoActual.texto">
      <div class=" buttons mb-3">
        <button class="btnForm" (click)="guardar()">Editar</button>
        <button class="btnForm" routerLink="Proyectos">Regresar</button>
      </div>
    </div>
  </form>
</div>