<span class="fixed-button-container">
 <ul class="menuFoo">
    <li> <a href="http://" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a></li>
    <li> <a href="http://" target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp"></i></a></li>
    <li> <a href="http://" target="_blank" rel="noopener noreferrer"><i class="bi bi-messenger"></i></a></li>
    <li> <a href="http://" target="_blank" rel="noopener noreferrer"><i class="bi bi-envelope-at"></i></a></li>
   </ul>
</span>