<ng-template #content let-c="close" let-d="dismiss" class="modal">
	<div class="modal-body">
		<button type="button" class="btn-close" aria-label="Close"(click)="d('Cross click')" style="float: right;"></button>
		<ng-template [ngTemplateOutlet]="login"></ng-template></div>
		<!-- <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button> -->
	<ng-content></ng-content>

</ng-template>

<a (click)="open(content)" id="log">Login</a>


 <ng-template #login><app-login></app-login></ng-template>

