
<!-- <div><h4>Editar</h4></div> 
<form>
	<div class="mb-3">
		<label for="exampleInput" class="form-label">Skill</label>
		<input type="email" class="form-control" id="skill" aria-describedby="emailHelp">
	</div>
	<div class="mb-3">
		<label for="exampleInputUno" class="form-label">Porcentaje</label>
		<input type="number" class="form-control" id="porcentaje">
	</div>
	<button type="submit" class="btn btn-primary">Guardar</button>
</form>  -->
<!-- <p>
	Nombre: {{nombre}}
	<br>
	Cif: {{cif}}
	<br>
	direccion: {{direccion}}
  </p>
 -->
 <div class="container">

<div class="formulario" *ngIf="switch==true" >
<form id="formEdit">
	<div class="mb-3">
	  <label class="form-label">New Skill</label>
	  <input type="text" class="form-control" id="tarea" name="tarea" [(ngModel)]="skillActual.tarea">
	</div>
	<div class="mb-3">
	  <label class="form-label">Porcentaje</label>
	  <input type="number" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="skillActual.porcentaje">
	</div>
	<button class="btn btn-primary" (click)="guardar()">Editar</button>
  </form>
</div>
<div class="formulario" *ngIf="mostrar==true">
<h4>Titulo:{{titulo}}</h4>
</div>
</div>
