<div class="fondo">
	<form class="formEdit">
		<h3>Editar</h3>
		<div class="mb-3">
			<div class="mb-3">
				<label class="form-label">New Skill</label>
				<input type="text" class="form-control" id="tarea" name="tarea" [(ngModel)]="skillActual.tarea">
			</div>
		</div>
		<div class="mb-3">
			<label class="form-label">Porcentaje</label>
			<input type="number" class="form-control" id="porcentaje" name="porcentaje"
				[(ngModel)]="skillActual.porcentaje">
		</div>
		<div class="buttons"><button class="btn btn-success" (click)="guardar()">Editar</button>
			<button class=" btn btn-warning volver" routerLink="skills">Regresar</button>
		</div>
	</form>
</div>