.NavHome {
display: none;
}

.logo{
    padding-top: 10px;
}

img{
    width: 200px;
    height: 70px;
}

@media screen and (min-width: 800px){
    .NavHome{
        display:flex;
        float: right;
        margin-top: 5px;
    }  

    .logo{
    float: left;
    }

    .logo img{
    margin-top: 15px;
    margin-left: 30px;
    width: 150px;
    height: 50px;
    }

    .NavHome li{
        margin-top: 35px;
        padding-top:  15px;
        padding-left: 15px; 
        padding-right: 10px;
    }

    .NavHome li a{
        padding: 10px;
    }
    
    .NavHome li a:hover{
        background-color: rgba(0, 0, 0, 0.594);
        color: white;
        transition: 1s;
    }

}
