<div class="cont">
  <form class="formAgregar">
    <div class="logoForm">
      <img src="/assets/Images/logoLarge1.png" alt="logoLarge1">
    </div>
    <h6>Agregar Skill</h6>
    <div class="mb-3">
      <div class="mb-3">
        <label class="form-label">New Skill</label>
        <input type="text" class="form-control" id="tarea" name="tarea" [(ngModel)]="nuevaSkill.tarea">
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Porcentaje</label>
      <input type="number" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="nuevaSkill.porcentaje">
    </div>
    <div class="buttons">
      <button class="btn btn-primary" (click)="agregarSkill()" routerLink="/skills">Agregar</button>
      <button class=" btn btn-danger" routerLink="/skills">Regresar</button>
    </div>
  </form>
</div>