/* .container{
    display: flex;
    flex-direction: column;
} */

#formAgregar{
    margin-top: 10%;
    color: white;
    align-self: center;
    padding: 30px;
}

.buttons{
    display: flex;
    justify-content: center;
    
}

.btn-warning{
    margin-left: 20px;
    color: white;
}
/* @media screen and (min-width: 800px) {
    #formAgregar{

        align-self: center;
        background-color: azure;
        height: 100vh;
        color: black;
        padding-top: 50px;
    }
} */
