<div class="container">
    <form id="formAgregar">
        <div class="mb-3">
          <label class="form-label">New Skill</label>
          <input type="text" class="form-control" id="tarea" name="tarea" [(ngModel)]="nuevaSkill.tarea">
        </div>
        <div class="mb-3">
          <label class="form-label">Porcentaje</label>
          <input type="number" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="nuevaSkill.porcentaje">
        </div>
        <button class="btn btn-primary" (click)="agregarSkill()">agregar</button>
      </form> 
</div>       
