<div class="contain">
	<div class="LogForm">
	
		<form>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" [(ngModel)]="registro.email" required="required">
				<div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
			</div>
			<div class="mb-3">
				<label for="exampleInputPassword" class="form-label">Contraseña</label>
				<input type="password" class="form-control" name="password" [(ngModel)]="registro.password" id="exampleInputPassword6" required="required">
			</div>
			<button type="submit" class="btn btn-warning" style="width: 100%; margin-top: 20%;" (click)="login(registro.email, registro.password)">Iniciar sesión</button>
		</form>
	</div>
	
	  </div>
	  <div class="crear">
		<!-- <div class="quest"> -->
		<!-- <button class="btn btn-info ancho">Quiero Registrarme</button>
		<div class="nav-item" id="aLog"> -->
		  <p class="small">Al iniciar sesión acepta nuestros términos de uso.</p>
		</div>
