
<div class="contentBanner" id="banner">

  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/assets/Images/APLogo-20-20.png" alt="logo" id="logoAp" style="width: 100px
      ;" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="#banner">Login</a>
          </li>
          <li class="nav-item">
            <a href="#banner">Register</a>
          </li>
          <li class="nav-item">
           <a href="#AboutUs">About Us</a>
           </li>
           <li class="nav-item"> 
            <a href="#formacion">Education</a>
          </li>
          <li class="nav-item"> 
            <a href="#proyectos">Proyectos</a>
          </li>
          <li class="nav-item"> 
           <a href="#skills">Skills</a>
          </li>
          <li class="nav-item"> 
           <a href="#contacto">Contact</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

    <nav id="bar">
      <div class="logo"><img src="/assets/Images/APLogo-20-20.png" alt="logo"></div>
    <ul class="NavHome">
      <li class="nav-item">
        <a href="#banner">Login</a>
      </li>
      <li class="nav-item">
        <a href="#banner">Register</a>
      </li>
      <li class="nav-item">
       <a href="#AboutUs">About Us</a>
       </li>
       <li class="nav-item"> 
        <a href="#formacion">Education</a>
      </li>
      <li class="nav-item"> 
        <a href="#proyectos">Proyectos</a>
      </li>
      <li class="nav-item"> 
       <a href="#skills">Skills</a>
      </li>
      <li class="nav-item"> 
       <a href="#contacto">Contact</a>
      </li>
    </ul>
    </nav>

    <div class="LogoWhite"><img src="/assets/Images/LogoWhite.png" alt="LogoWhite" id="LW"></div>
    
   
 