<div class="contentBanner" id="banner"><a href="#arriba"></a>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/assets/Images/APLogo-20-20.png" alt="logo" id="logoAp" style="width: 100px; margin-left: 30px; margin-bottom: 5px;" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 30px
      ;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" id="aLog">
            <app-modal id="log"></app-modal>
          </li>

          <li class="nav-item">
            <a href="#about-me">About Me</a>  
          </li>

          <li class="nav-item">
            <a href="#Register">Register</a>
          </li>

          <li class="nav-item">
            <a href="#Education">Formación</a>  

          <li class="nav-item">
            <a href="#Proyectos">Proyectos</a>  
          </li>

          <li class="nav-item">
            <a href="#Skills">Skills</a>    
          </li>

          <li class="nav-item">
            <a href="#Contact">Contact</a>      
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <nav id="bar">
    <div class="logo"><img src="/assets/Images/APLogo-20-20.png" alt="logo"></div>

    <ul class="NavHome">
      <li class="nav-item" id="aLog">
        <app-modal></app-modal>
      </li>
      <li class="nav-item">
        <a href="#about-me">About Me</a>  
      </li>

      <li class="nav-item">
        <a href="#Register">Register</a>
      </li>

      <li class="nav-item">
        <a href="#Education">Formación</a>  

      <li class="nav-item">
        <a href="#Proyectos">Proyectos</a>  
      </li>

      <li class="nav-item">
        <a href="#Skills">Skills</a>    
      </li>

      <li class="nav-item">
        <a href="#Contact">Contact</a>      
      </li>
    
    </ul>
  </nav>

  <div class="LogoWhite animate__animated animate__bounce"><img src="/assets/Images/DarkLogoXL.png" alt="LogoWhite"
      id="LW"></div>
</div>


<div class="containerTres">
<app-register></app-register>
<app-about-me></app-about-me>
<app-formacion></app-formacion>
<app-proyectos></app-proyectos>
<app-skills></app-skills>
<app-footer></app-footer>  </div>