.contentBanner {
    margin: 0;
}

#logoA,
.logo {
    display: none;
}

#alog {
    padding-bottom: 10px;
}

.LogoWhite {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.logo img {
    margin-top: 15px;
}

#LW {
    justify-content: center;
    margin-top: 5%;
    width: 300px;
    height: 300px;
    border-top-right-radius: 10px;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

h3 {
    margin-top: 5%;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

@media screen and (max-width: 800px) and (orientation: landscape) {

    #LW {
        display: none;
    }

    #logoAp {
        display: none;
    }
}

@media only screen and (min-width: 800px) {

    .logo {
        display: flex;
        width: 100px;
        height: 100px;
        margin-right: 3%;
        margin-top: 35px;
    }

    .LogoWhite {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 7%;
    }

    #LW {
        width: 100%;
        height: 100%;
        margin-top: 5%;
    }

}

@media only screen and (min-width: 280px) {

    .LogoWhite {
        display: flex;
    }

    #LW {
        width: 200px;
        height: 200px;
    }

}