<div class="container">
    <h2>Hard & Soft Skills</h2>
    <div class="formato">
      <div class="vacio" *ngIf="mostrar==true">Continúe agregando una tarjeta, haciendo click en el botón verde de esta sección.</div>
    <div class="bAgregar">
      <div  class="btnAgregar"*ngIf="mostrar==true">
        <a [routerLink]="['/agregar']"><img src="/assets/Images/agregar.png" alt="agregar" type="button" ngbPopover="Agregar Skill" popoverClass="my-edit-class" style="padding: 20px;"></a>
      </div>
    </div>
  </div>
  <div class="cont">
    <div class="circle">
      <div *ngFor="let skill of lista">
        <div class="tarea">{{skill.tarea}}</div>
        <div><circle-progress [percent]="skill.porcentaje" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#3b206d'" [innerStrokeColor]="'#88a6e5'" [animation]="true" [animationDuration]="300"
            class="circle">
          </circle-progress>
        </div>
        <br>
        <div *ngIf="mostrar== true" class="btnEdiciones">
        <a (click)="eliminar(skill.id)"><img class="icon" src="/assets/Images/trash1.png" alt="trash" type="button" ngbPopover="Eliminar Skill" popoverClass="my-delete-class"></a>
        <a [routerLink]="['/edit', skill.id]"><img class="icon" src="/assets/Images/pencil.png" alt="edit" type="button" ngbPopover="Editar Skill" popoverClass="my-edit-class"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-btn-fixed></app-btn-fixed>