
.circle {
    color: #222748;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 0 auto;
}

.botones {
    display: flex;
    justify-content: space-between;
}


.tarea {
    color: #222748;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
    font-size: x-large;
}

.porcentaje {
    color: white !important;
}

#aSk {
    text-align: center;
}

.bAgregar {
    text-align: center;
}

img{
    padding-top: 80px;
}

@media only screen and (min-width: 800px) {
    .circle {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cont {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}