footer {
  display: flex;
  text-align: center !important;
  padding-top: 30px;
  padding-left: 20%;
  padding-bottom: 25px;
  color: white;
  margin-left: 30px;
}

.foo {
  font-size: xx-small;
}

@media only screen and (min-width: 800px) {
  footer {

    justify-content: center;
  }
}