 * {
     box-sizing: border-box;
     margin: 0;
     font-family: 'Comfortaa';
     -webkit-text-size-adjust: 100%;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     font-size: 2.3vh;
     color: #313535;
 }

 body {
     display: flex;
     flex-direction: column;
     width: 100% auto;
     height: 100vh;
     margin: 0 auto;
     padding: 0;
     background-color: whitesmoke;
 }

 a {
     text-decoration: none;
 }

 ul li {
     list-style-type: none;
 }

 .cont {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     min-height: 100vh;
     justify-content: center;
     padding: 10% 3%;
     background-color: #f8efed;
     margin: 0 auto;
 }

 h2 {
     font-size: 2rem;
     text-align: center;
     width: 100% auto;
     padding-top: 20px;
 }

 h3 {
     text-align: center;
     color: rgb(11, 22, 32);
     margin: 20px;
 }

 .btnAgregar {
     margin-top: 30px;
     text-align: center;
     margin: 0 auto;
 }

 .btnEdiciones {
     text-align: center;
     cursor: pointer;
     justify-content: space-evenly;
 }



 .icon{
    width: 30px;
    margin: 20px;
  }
  
 /* .bt {
     text-align: center;
     background-color: #f8efed;
     flex-direction: column;
 } */

 .card {
     width: 220px;
     height: 250px;
     align-items: center;
     color: #4b7356;
     font-size: small;
     overflow-y: auto;
     overflow: auto;
     /*Graceful degradation para Firefox*/
     overflow: overlay;
     margin-left: 10px;
     box-shadow: -10px 9px 20px -6px rgba(148, 153, 155, 0.75);
     -webkit-box-shadow: -10px 9px 20px -6px rgba(148, 153, 155, 0.75);
     -moz-box-shadow: -10px 9px 20px -6px rgba(148, 153, 155, 0.75);
 }

 /*Webkit(Chrome, Android browser, Safari, Edge...)*/
 .card::-webkit-scrollbar {
     display: none;
 }

 .card:hover::-webkit-scrollbar {
     display: initial;
 }

 .card::-webkit-scrollbar-thumb {
     background-color: #104d65a5;
     scrollbar-width: thin;
 }


 .card:hover {
     height: 260px;
     margin-bottom: 5px;
     transition-duration: 500ms;
 }

 .card-title {
     text-align: center;
 }

 #aLog a {
     color: white;
     margin-left: 0;
     cursor: pointer;
 }

 /* .hidden {
     /* border: none;
     background: none; 
     border-radius: 50%;
     padding: 20px;
     padding: 10px;
     margin: 10px;
     border: 1px solid rgb(216, 213, 213);
     box-shadow: -10px 9px 20px -6px rgba(148, 153, 155, 0.75);
     -webkit-box-shadow: -10px 9px 20px -6px rgba(148, 153, 155, 0.75);
     -moz-box-shadow: -10px 9px 20px -6px rgba(148, 153, 155, 0.75);
 } */

 /* .bi-trash {
     color: red;
     width: 60px;
     height: 60px;
 } */

 /* .bi-pencil-square {
     color: blue;
     width: 50px;
     height: 50px;
 } */

 .sm {
     margin-top: 30px;
 }

 .formAgregar,
 .formEdit {
     width: 80%;
     padding: 20px;
     margin: 20px auto;
     background-color: #1f9c9a9e;
     height: 90vh;
     box-shadow: -10px 9px 20px -6px rgba(148, 153, 155, 0.75);
     -webkit-box-shadow: -10px 9px 20px -6px rgba(148, 153, 155, 0.75);
     -moz-box-shadow: -10px 9px 20px -6px rgba(148, 153, 155, 0.75);
 }

 .buttons {
     display: flex;
     flex-direction: column;
     padding-top: 20px;
 }

 .btnForm {
     background-color: #096c94;
     text-align: center;
     color: white;
     border: none;
     width: 100%;
     margin-top: 30px;
     padding: 8px;
 }

 .logoForm {
     text-align: center;
     margin-bottom: 20px;
     margin-top: 20px;
 }

 .logoForm img {
     width: 80px;
     height: 80px;
 }

 label {
     color: white;
 }

 .buttons {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin: 0 auto;
 }

 .tarjeta {
     margin: 0 auto;
 }

 /* 
 .btn-warning {
     margin-left: 20px;
     color: white;
     margin-right: 20px;
 }

 .btn-warning,
 .btn-primary {
     padding-left: 20px;
     padding-right: 20px;
 } */

 .fondo {
     display: flex;
     justify-content: center;
     flex-direction: column;
     background-color: rgba(0, 0, 0, 0.409);
     height: 100vh;
     align-items: center;
     margin: 0 auto;
     box-shadow: -10px 9px 20px -6px rgba(148, 153, 155, 0.75);
     -webkit-box-shadow: -10px 9px 20px -6px rgba(148, 153, 155, 0.75);
     -moz-box-shadow: -10px 9px 20px -6px rgba(148, 153, 155, 0.75);
 }

 .formato {
     background-color: #f8efed;
     padding-bottom: 20px;
 }

 /* 
 .btn {
     width: 30%;
     margin: 10px auto;
 } */

 @media only screen and (min-width: 800px) {
     .navbar {
         display: none
     }

     .cont {
         width: 100%;
         text-align: center;
         padding: 30px;
     }

     h2 {
         width: 100%;
     }

     .card {
         padding: 10px;
         margin: 10% 20px 40px 20px;
     }

     .buttons {
         flex-direction: row;
         justify-content: center;
         margin-top: 20%;
         justify-content: space-around;
     }

     .btnForm {
         background-color: #096c94;
         color: white;
         border: none;
         width: 45%;
     }

     .formAgregar,
     .formEdit,
     .regForm {
         width: 30%;
         box-shadow: -10px 9px 20px -6px rgba(91, 95, 96, 0.75);
         -webkit-box-shadow: -10px 9px 20px -6px rgba(148, 153, 155, 0.75);
         -moz-box-shadow: -10px 9px 20px -6px rgba(148, 153, 155, 0.75);
     }

     .cont {
         display: flex;
         flex-direction: row;
         justify-content: center;
         flex-wrap: wrap;
     }

     .formato {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         background-color: #f8efed;
         padding-bottom: 30px;
     }


 }