 * {
     box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Roboto', sans-serif; 
}

body{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    background-color:black;
    width: 100%;
    z-index: -1;
    /* background-image: url(/assets/Images/live-511556_1920.png); */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

/* #containerDos {
    background-color: rgb(77, 75, 75);
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    text-align: justify;
    color: white;
    margin-top: 30px auto;
    box-shadow: 10px 10px 32px 0px rgb(240, 244, 246);
} */


h2 {
    padding: 20px;
    background-color: rgba(237, 246, 246, 0.559);
    border-radius: 20px;
    color: white;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 50px;
}

.btn-flotante {
    position: fixed;
    bottom: 40px;
    right: 43%;
    z-index: 99;
    color: black;
}

.btn-flotante a {
    text-decoration: none;
}

/* .NBFloat{
position: fixed;
    bottom: 40px;
    right: 43%;
    z-index: 99;
    color: black;
    width: 30%;
    height: 100vh;
    background-color: blue;
} */

#aLog a {
    color: white;
    margin-left: 0;
    cursor: pointer;
}

.hidden {
    border: none;
    background: none;
    padding: 10px;
}

.bi-trash {
    color: red;
}

.bi-pencil-square {
    color: blue;
}

.sm {
    margin-top: 30px;
}

.formulario {
    width: 30%;
    min-width: 200px;
    background-color: azure;
    margin-left: 15%;
    margin-top: 15%;
    padding: 10%;
    display: flex;
}

.containerTres {
    margin-top: 20%;
    width: 100%;
    height: 100%;
}  


 @media screen and (min-width: 800px) {
    .navbar {
        display: none
    }

    /* .container {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        margin-bottom: 5%;
    } */

    .formulario {
        width: 30%;
        min-width: 200px;
        background-color: azure;
        margin-left: 33%;
        margin-top: 15%;
        padding: 10%;
        display: flex;
    }

    .btn-flotante{
        right: 49%;
    }

    h2{
        width: 22%;
        margin-left: 5%;
    }


} 